.app-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 100% 3fr;
    grid-template-columns: 15% 85%;
    grid-template-areas:
        "header header"
        "categories categories"
        "navbar content"
        "footer footer";
    min-height: 1200px;
    margin: 0, auto;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.7;
    .header {
        grid-area: header;
        background-color: rgb(32, 32, 32);
        display: flex;
        justify-content: space-around;
        color: white;
    }
    .categories {
        grid-area: categories;
        display: flex;
        justify-content: space-around;
    }
    .content {
        grid-area: content;
    }
}
